/* استایل‌های عمومی */
body {
    font-family: 'Vazir', sans-serif;  /* استفاده از فونت وزیر */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

/* لیست فیلم‌ها */
.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.movie-card .title {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #ecf0f1;
}

.movie-card .original-title {
    padding: 10px;
    font-size: 14px;
    color: #7f8c8d;
    background-color: #ecf0f1;
}

.movie-card .overview {
    padding: 10px;
    font-size: 14px;
    color: #666;
    background-color: #ecf0f1;
    height: 100px;
    overflow: hidden;
}

.movie-card .download-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.movie-card .download-buttons a:hover {
    transform: scale(1.05);
}

/* دکمه اصلی */
.btn-primary {
    background-color: #27ae60;
    color: white;
    border: 1px solid #27ae60;
}

.btn-primary:hover {
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
}

/* دکمه جایگزین */
.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border: 1px solid #5a6268;
}

/* استایل برای کارت‌های فیلم */
.movie-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.movie-card .title {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #ecf0f1;
}

.movie-card .original-title {
    padding: 10px;
    font-size: 14px;
    color: #7f8c8d;
    background-color: #ecf0f1;
}

.movie-card .overview {
    padding: 10px;
    font-size: 14px;
    color: #666;
    background-color: #ecf0f1;
    height: 100px;
    overflow: hidden;
}
